body {
    padding: 20px;
    /*background: #fafafa;*/
    position: relative;
    background-image:url('./img/calc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "digital-7", 'Roboto', sans-serif, "Lucida Console", Monaco, monospace !important;


}
@font-face {
    font-family: "digital-7";
    src: url(calcfont.ttf);
}
.calc-container {
    width: 280px;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    background: #fafafa !important;
}

.buttons{
    margin: 0 auto;
}
.btn {
    height: 64px !important;
    font-size: initial;
    font-family: "digital-7",Arial,sans-serif !important;
}
.operand{
    /*background: #fafafa !important;*/
}
.decpoint,.plusmin{
    /*background: #fafafa !important;*/
}
.science{
    max-width: 90%;
    /*width: 100px;*/
    /*height: 40px;*/
    /*text-align: left;*/
}
.row{
    margin: 4px 4px 6px 4px;
    font-size: 0;
    display: flex;
    justify-content: center;
}

/*.mdl-textfield {*/
    /*width: 100%;*/
    /*padding: 10px 0 0;*/
/*}*/
.screen{
/*.mdl-textfield input[type="text"] {*/
    height: 5vh;
    width: 100%;
    text-align: right;
    font-size: 2em;
    padding: 10px 0;
    font-family: "digital-7",Arial,sans-serif !important;
}
#disp-inp{
    word-wrap: break-word;
    display: initial;
    text-align: left;
    font-family: "digital-7",Arial,sans-serif !important;
}

/*.mdl-textfield input[type="text"]:disabled {*/
    /*color: #000;*/
/*}*/
.scientific{
    display: none;
}
.widebody .scientific{
    display:initial;
}