body {
    padding: 20px;
    position: relative;
    background-image:url('./img/calc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "digital-7", 'Roboto', sans-serif, "Lucida Console", Monaco, monospace !important;
}
.title{
    font-size: 1em !important;
    font-weight: 600;
}
@font-face {
    font-family: "digital-7";
    src: url(calcfont.ttf);
}
.calc-container {
    width: 280px;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    background: #fafafa !important;
}

.buttons{
    margin: 0 auto;
}
.btn {
    height: 64px !important;
    font-size: initial;
    font-weight: 700;
    font-family: "digital-7",Arial,sans-serif !important;
}

.science{
    max-width: 90%;

}
.row{
    margin: 4px 4px 6px 4px;
    font-size: 0;
    display: flex;
    justify-content: center;
}

.mdl-textfield {
    height: 100%;
    padding: 10px 0 0;
}
.screen{
    height: 5vh;
    width: 100%;
    text-align: right;
    font-size: 2em;
    font-family: "digital-7",Arial,sans-serif !important;
}
.inp, .inp2{
    text-align: left;
}

.scientific{
    display: none;
}
.widebody .scientific{
    display:initial;
}